body {
    style:"background-image:url(full-bloom.png)"
    }

header{
    height: 80px;
    background:white;
    width: auto;
}

.about-you{
    Padding:0px;
}

.name{
    Height: 49px;
    text-align: center;
    color: white;
    width: 231px;
    margin-top: 31px;
    margin-left: 116px;
    background-color: gray;
    position: absolute;
   
}

h4{
    text-align: center
}

.about{
    float: left;
    width: 43px;
}

.contact{
    float: right;
    width: 82px;
}


.portfolio{
    float: right;
    width: 83px;
}

.main{
    Height: 279px;
    color: gray;
    border: lightgray;
    padding-top: 13px;
    padding-right: 80px;
    padding-bottom: 39px;
    padding-left: 51px;
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 70px;
    width: fit-content;
    background-color: white;
    float: left;
}

.image{
    float: left;
    padding-right: 19px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    margin-bottom: 100px;
    padding-right: 632px;
    padding-left: 58px;
    padding-bottom: 6px;
    padding-top: 30px;
    margin-top: 45px;
    margin-right: 193px;
    margin-left: 150px;
    box-sizing: border-box;
    background: white;
}


.form-group {
    margin-bottom: 15px;
}

#navi{
    background: white;
    float: right;
    height: 77px;
    width: 224px;
}

footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: gray;
        text-align: center;
}

.port{
    margin-bottom: 100px;
    padding-right: 656px;
    padding-left: 61px;
    padding-bottom: 708px;
    padding-top: 30px;
    margin-top: 45px;
    margin-right: 187px;
    margin-left: 150px;
    box-sizing: border-box;
    background: white;
}

.box-one{
    Height: 20px;
    color: gray;
    border: lightgray;
    padding-top: 21px;
    padding-right: 74px;
    padding-bottom: 7px;
    padding-left: 51px;
    margin-top: 59px;
    margin-right: 70px;
    margin-bottom: 31px;
    margin-left: 64px;
    width: fit-content;
    background-color: yellow;
    float: left;
}

.box-two{

    Height: 20px;
    color: gray;
    border: lightgray;
    padding-top: 21px;
    padding-right: 74px;
    padding-bottom: 7px;
    padding-left: 51px;
    margin-top: 59px;
    margin-right: 70px;
    margin-bottom: 31px;
    margin-left: 64px;
    width: fit-content;
    background-color: yellow;
    float: right;
}